body
{
	margin: 0;
	padding: 0;
	max-width:100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) and (orientation:portrait) {
  .container {
    padding: 0;


  }
}

.container
{
	box-shadow:5px 0px 5px #888888,-5px 0px 5px #888888;
	height:100%;
}

paper-input-decorator /deep/ ::-webkit-input-placeholder{
    /* platform specific rules for placeholder text */
    color: #3399FF;
}

input[type="number"]:focus {
  color: #3399FF;
}

core-toolbar
{
	background-color: #3096e5;
}

core-toolbar span
{
	font-family: "RobotoDraft",sans-serif;
	font-weight: 100;
	font-size: 2.5em;
	color:#FFFFFF;
}

form
{
	width:80%;
	margin-left: 10%;
}

paper-input-decorator
{
	width:70%;
	margin-left: 15%;
	font-family: 'RobotoDraft',sans-serif;
	font-size: 2.5em;
	font-weight: 300;
}

paper-input-decorator /deep/ .label-text {
    color: orange;
    font-size: 0.8em;
}

paper-button
{
	color: #3096e5;
	font-family: 'RobotoDraft',sans-serif;
	font-weight: 300;
}

form paper-button
{
	width:70%;
	margin-left: 15%;
	margin-bottom: 5%;
	font-size: 1.4em;
}


#roomnotext
{
	font-family: 'RobotoDraft',sans-serif;
	font-weight: 300;
	font-size: 1.7em;
	width:60%;
	margin-left: 20%;
	text-align: center;

}

#textroomno
{
	font-family: 'RobotoDraft',sans-serif;
	font-weight: 300;
	font-size: 3em;
	text-align: center;
	padding-top: 5%;
}

#spinner-div
{
	width:80%;
	margin-left: 10%;
	text-align: center;
	margin-bottom: 5%;
}

#spinnertext
{
	font-size: 1.5em;
	font-family: 'RobotoDraft',sans-serif;
	font-weight: 300;
	color:red;
}

#backbutton
{
	font-size:1.3em;
	width:50%;
	margin-left: 25%;
}

paper-spinner
{
	height:35px;
	width: 35px;
}

#user-id,#token,#movevalue
{display: none;}

#playbutton
{
	width: 50%;
	font-size:1.3em;
}

#jumpbutton {
    background: green;
    color: white;
    height:40vw;
    width:40vw;
    margin-top: 5vw;
    margin-left: 30vw;
    border-radius: 20vw;
    font-size: 1.5em;
}

#jumpbutton #button-text
{
	font-family: "RobotoDraft",sans-serif;
	font-weight: 300;
	font-size: 2em;4
	padding-top: 15vw;
	line-height: 5vw;
}

#pausebutton
{
	position:absolute;
	bottom:10px;
	left:15px;
}

#playtext
{
	position: absolute;
	bottom:60px;
	left:5px;
}